<launch>
    <param name="/use_sim_time" value="false" />

    <arg name="cloud_topic"         default="/pub_pcd" />
    
    <arg name="data_dir"            default="$(find init_relocalizer)/map_data/" />
    
    <arg name="map_frame"           default="map" />
    <arg name="base_frame"          default="camera_init" />
    <arg name="avg_count"           default="5" />
    <arg name="global_map_pub_freq" default="0.5" />

    <node pkg="init_relocalizer" type="re_loc" name="re_loc_node" output="screen">
        <param name="cloud_topic"         value="$(arg cloud_topic)"         type="string" />
        <param name="data_dir"            value="$(arg data_dir)"            type="string" />
        <param name="map_frame"           value="$(arg map_frame)"           type="string" />
        <param name="base_frame"          value="$(arg base_frame)"          type="string" />
        <param name="avg_count"           value="$(arg avg_count)"           type="int" />
        <param name="global_map_pub_freq" value="$(arg global_map_pub_freq)" type="double" />
    </node>
</launch>