<launch>
    <arg name="cloud_topic" default="/LIVO/current_cloud" />
    <arg name="odom_topic" default="/LIVO/odometry" />
    
    <arg name="save_dir" default="$(find init_relocalizer)/pcd_data/" />
    <arg name="save_distance_thresh" default="1.0" />

    <node pkg="init_relocalizer" type="save_data" name="save_data_node" output="screen">
        <param name="cloud_topic" value="$(arg cloud_topic)" type="string" />
        <param name="odom_topic" value="$(arg odom_topic)" type="string" />
        <param name="save_dir" value="$(arg save_dir)" type="string" />
        <param name="save_distance_thresh" value="$(arg save_distance_thresh)" type="double" />
    </node>
</launch>