<launch>
    <param name="/use_sim_time" value="true" />

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_livo)/config/mid360_208.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo)/config/camera_pinhole_208.yaml" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/fast_livo2.rviz" />
	</group>
	
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/hikrobot_camera/rgb raw out:=/hikrobot_camera/rgb" output="screen" respawn="true"/>

	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter" clear_params="true" output="screen" respawn="true">
    	<rosparam file="$(find fast_livo)/config/ekf.yaml" command="load" />
  	</node>

	<node pkg="tf" type="static_transform_publisher" name="fastlivoPublisher" args="0 0 0 0 0 0 /map /camera_init 1"/>


launch-prefix="gdb -ex run --args"
launch-prefix="valgrind --leak-check=full"
</launch> 	
